@font-face {
    font-family: 'passion one';
    src: url('Passion_One/PassionOne-Bold.ttf');

    font-family: 'font2';
    src: url('Sriracha/Sriracha-Regular.ttf');
}

body {
    margin: 0;
}

header {
    padding: 0;
    margin: 0;
    height: 200px;
    background-color: black;
    color: white;
}

header > h1 {
    margin: 0;
    padding-top: 40px;
    font-size: 65px;
    font-family: 'passion one';
    font-weight: bold;
    text-align: center;
}

header > p {
    font-size: 20px;
    text-align: center;
}

header > p > a {
    font-size: 13px;
    font-family: Verdana, Tahoma, sans-serif;
    color: white;
    text-decoration: none;
}

#link {
    font-family: Verdana;
    font-weight: bold;
    font-size: 22px;
}

#art1 {
   
    background-attachment: fixed;
    padding-top: 60px;    
    font-size: 24px;
    font-family: 'font2';
    margin: 0;
}

article {
    padding-left: 0px;
    margin: 0;
}

main {
    padding-left: 30px;
    height: 300px;
    padding-bottom: 100px;
}

main#foto > p {
    background-color: rgba(0, 0, 0, 0.486);
    max-width: 300px;
    color: white;
}

img {
    
    max-width: 640px;
}

#img1 {
        background-attachment: fixed;
}

main#foto {
    background-size: cover;
    background-image: url('imagens/background001.jpg');
    background-attachment: fixed;
    background-position: top right;
    margin: 0;
    
    
}